#transtion{
    width: 100px;
    height: 100px;
    background-color: rebeccapurple;
    /* 입력한 각도만큼 회전, 음수 가능 */
    transform: rotate(30deg);
    /* width 2배, heigth 3배  */
    transform: scale(2,3); 
    /* x,y축 기준 각도 비틂 */
    transform: skew(10deg,20deg);
    /* 좌표 변경 */
    transform: translate(100px, 200px);

    /* css3 의 최신언어 */
    /* prefix 접두사 필요할 경우 */
    /* -webkit-  크롬, 사파리*/
    /* -moz- 파이어폭스*/
    /* -ms-  익스플로러 9.0*/
    /* -o-  오페라*/
    /* ex) -webkit-transform: translate(100px,200px) */
    
    /* 효과를 적용하고자 하는 css 속성 */
    transition-property: width;
    /* 효과가 나타나는데 걸리는 시간 */
    transition-duration: 2s;
    /* 효과의 속도 */
    transition-timing-function: linear;
    /* 특정 시간뒤에 효과 발동 */
    transition-delay: 1s;
    /* 한줄로 표현 가능 초는 duration, delay 순서임 */
    /* 숫자가 하나인 경우엔 duration */
    transition: width 2s linear 1s;

}

/* 가상 선택자 :hover */
#transition :hover { width: 300px;}

#animation{
    width: 300px;
    height: 100px;
    background-color: darkblue;
    /* 이름은 변수처럼 유동적 */
    animation-name: aniname;
    /* 작동시간 */
    animation-duration: 3s;
    animation-timing-function: linear;
    animation-delay: 1s;
    /* 몇번 반복할 것인지 */
    animation-iteration-count: 6;
    /* alternate : 시작 -> 끝 -> 시작 */
    /* normal : 시작 -> 끝, 끝 -> 시작*/
    /* reverse : 끝 -> 시작, 시작 -> 끝*/
    animation-direction: alternate;
    /* 한줄로 가능함 */
    /* 만약 prefix를 사용한다면  keyframes에도 똑같이 사용해야함 */
    animation: aniname 3s linear 1s 6 alternate;
}
/* animation에 꼭 필요한 값  */
/* animation-name에서 지정한 이름을 설정 */
/* 만약 prefix를 사용한다면  keyframes에도 똑같이 사용해야함 */
@keyframes aniname {
    /* 효과가 어떻게 나타날지 설정한다. */
    /* from { width: 300px; }
    to { width: 600px; } */
    
    /* 만약 prefix를 사용한다면  keyframes에도 똑같이 사용해야함 */
    from { transform: rotate(-10deg); }
    to { transform: rotate(10deg); }
}

/* 
.box1 {
    -webkit-animation: rotation 3s linear 1s 6 alternate;
}

@-webkit-keyframes rotation {
    from {-webkit-transform: rotate(-10deg); }
    to {-webkit-transform: rotate(10deg); }
}
*/